@import url('font-awesome.min.css');
@font-face
{
	font-family: fontawesome;
	src: url("../assets/fonts/fontawesome-webfont.ttf");
}
html{
	height: 100%;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: 'Signika Negative', sans-serif;
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	height: 100%;
	background-color: #1D54B6;
}
a {
	text-decoration: none;
	color: white;
}
h1{
	font-size: 5em;
	letter-spacing: 3px;
}
h2{
	font-size: 4em;	
}
h3{
	font-size: 2em;
}
i{
	font-family: fontawesome;
}
article, aside, footer, header, hgroup, main, nav, section{
	display: block;
}
.wrapper{
	width: 80%;
	margin: 0 auto;
	max-width: 980px;
}
header{
	text-align: center;
	padding: 8em;
	margin-bottom: 5em;
}
aside{
	float: left;
	width: 20%;
}
article{
	margin: 0 64px 91px 0;
	float: left;
	width: 680px;
}
.meta{
	float: left;
	margin: 0 0 0 -150px;
	opacity: 0;
	transition: visibility 0s ease-in-out 0.5s,opacity 0.5s ease-in-out;
	-webkit-transition: visibility 0s ease-in-out 0.5s,opacity 0.5s ease-in-out;
	-moz-transition: visibility 0s ease-in-out 0.5s,opacity 0.5s ease-in-out;
	-o-transition: visibility 0s ease-in-out 0.5s,opacity 0.5s linear;
}
.meta li{
	font-size: 0.8em;
	border: 1px solid #2D6EC2;
	padding: 0.5em 1em;
	border-radius: 16px;
	margin-bottom: 1em;
}
.avatar{
	height: 100px;
	width: 100px;
}
.avatar img{
	max-width: 100%;
	border-radius: 150px;
	border: 2px solid #FFF;
}
/*helper style*/
.unstyled{
	list-style: none;
}
.post{
	border-bottom: 1px solid #2D6EC2;
	padding-bottom: 4em;
	margin-bottom: 3em;
}
.post:hover .meta{
	opacity: 1;
}
.quote{
	border-left: 3px solid #1D54B6;
	padding-left: 0.8em;
}
.source{
	color: #9E9191;
	line-height: 3em;
}
.tags{
	font-size: 0.8em;
}
.tag{
	text-decoration: underline;
}
.tag a{
	display: inline;
	margin-right: 10px;
	color: #9E9191;
}
.photo{
	width: 100%;
}
.photo a{
	display: block;
}
.photo img{
	max-width: 100%;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    background-size: cover;
	width: 100%;
}
.photo a:hover img{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);

}
.chat li{
	padding: 0.5em;
}
.chat .person{
	color: #9E9191;
}
.text p{
	font-weight: 200;
}
.text ul{
	margin: 1em 1em 1em 2em;
}

.currentPage{
	float: right;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.followed{
	clear: both;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
}
.followed li{
	display: inline;
}
.copyright {
	color: #5E9FC3;
	text-align: center;
	margin-bottom: 2em;
	font-size: 0.8em;
}
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	
	80% {
		-moz-transform: translateY(-10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	
	80% {
		-o-transform: translateY(-10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
