body{
	background-color: #FCFAF2;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color:#666;
}

.container{
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0;
}

.header h1{
	text-align: center;
	font-size: 87px;
	font-family: 'Abril Fatface', cursive;
}
.header h1 a{
	text-decoration: none;
}
.description{

}